/* 공동 스타일*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

:root {
  --page-max: 1100px;
  --page-x: 24px;
  --page-y: 32px;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  flex: 1 0 auto;
  padding: 0;
}

section {
  padding: 0;
}

.page {
  max-width: var(--page-max);
  margin: 0 auto; /* 가운데 정렬 */
  padding: var(--page-y) var(--page-x);
}

h2,
p {
  margin: 0;
}

/* 헤더 */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: #4caf50;
}

.logo {
  width: 250px;
  height: 40px;
  display: flex;
}

/*기타 요소*/
.shadow-div {
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
}

.submit-btn {
  background-color: #00462a;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 18px 0px;
  font-size: 20px;
  font-weight: 600;
}

/* 푸터 */
footer {
  display: flex;
  background-color: #e8f5e9;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer p {
  font-size: 12px;
  color: #666666;
}

@media (max-width: 768px) {
  :root {
    --page-x: 16px;
    --page-y: 24px;
  }
}


.page-nation li{
  list-style: none;
}
.page-wrap{
  text-align: center;
  font-size: 0;
}
.page-nation{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-nation a{
  display: block;
  margin: 0 3px;
  float: left;
  border: 1px solid #e6e6e6;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}