{% extends "index.html" %}
{% block section %}
{% with mesg = get_flashed_messages() %}
  {% if mesg !=[] %}
  <script>alert("{{ mesg[0] }}")</script>
  {% endif %}
{% endwith %}

<form action="{{ url_for('login_user') }}" method="post">
  <p>ID :<input type="text" name="id" required></p>
  <p>password : <input type="password" name="pw" required></p>
  <p>아이디와 비밀번호를 입력하고 로그인버튼을 누르세요.<br><br>
    <input type="submit" value="로그인"><br>
  </p>
</form>

<a href="/signup">
  <button onclick="location.href='/signup'">회원가입</button>
</a>

{% endblock section %}

